﻿<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <link rel="stylesheet" href="Content/css/bootstrap.min.css">
        <link rel="stylesheet" href="Content/css/bootstrap-theme.min.css">
        @RenderSection("head", required: false)
    </head>

    <body style="background-image: url(../Content/image/bg.png);color:#428bca;">
        <div class="container">
            <div class="row clearfix" style="margin: 20px" >
                <div class="col-md-3 column"></div>
                <div class="col-md-6 column">
                    <div class="btn-group btn-group-justified" data-toggle="collapse">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><a href="../Default.cshtml"><span class="glyphicon glyphicon-file"> Curriculum</span></a></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><a href="../recommendations.cshtml"><span class="glyphicon glyphicon-thumbs-up"> Recommendations</span></a></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><a href="../contact.cshtml"><span class="glyphicon glyphicon glyphicon-user"> Contact</span></a></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 column"></div></div>
            </div>
        </div>
        @RenderBody()
    </body>
</html>
