﻿@{
    Layout = "~/_Layout.cshtml";  
}

<div class="container">

    <!--personal details-->
	<div class="row clearfix">
		<div class="col-md-1 column"></div>
			<div class="col-md-10 column">
				<div class="panel panel-default">
				  <div class="panel-body">
					 <div class="col-md-5 column">
                        <img src="../content/image/pic.jpg"  alt="" class="img-rounded img-responsive" />
                     </div>
					 <div class="col-md-5 column">
					  	<h4><strong >Stiben Miranda Mora</strong></h4>
						<p>Cédula: 206520963</p>
						<p>Fecha de Nacimiento: 20 de Noviembre de 1988</p>
						<p>Estado Civil: Soltero</p>
						<p>Residencia: Ciudad Quesada,San Carlos</a></p>
						<p>Teléfono: 86890138</p>
				     </div>
			      </div>
				</div>
			</div>
			<div class="col-md-1 column"></div>
		</div><!--row-->

		<!--profile
		<div class="row clearfix">
			<div class="col-md-1 column"></div>
				<div class="col-md-10 column">
					<div class="panel panel-default">
					  <div class="panel-body">
						  

						

				      </div>
					</div>
				</div>
				<div class="col-md-1 column"></div>
		</div><!row-->

		<!--education-->
		<div class="row clearfix">
			<div class="col-md-1 column"></div>
				<div class="col-md-10 column">
					<div class="panel panel-primary">
					  <div class="panel-heading">
					    Education
					  </div>
					  <div class="panel-body">
						  
					  	<table class="table">
							<tbody><tr>
								<td><strong>2014</strong></td>
								<td>Estudiante  Bachiller en Ingeniería del software</td>
								<td>Universidad Técnica Nacional</td>
							</tr><tr>
								<td><strong>20010-11</strong></td>
								<td>Técnico en Programación de Software</td>
								<td>Instituto Nacional de Aprendizaje</td>
							</tr><tr>
								<td><strong>2011</strong></td>
								<td>Técnico Especialista en Redes Locales</td>
								<td>Instituto Nacional de Aprendizaje</td>
							</tr><tr>
								<td><strong>2007-08</strong></td>
								<td>Técnico en Control Electrónico Industrial</td>
								<td>Instituto Nacional de Aprendizaje</td>
							</tr><tr>
								<td><strong>2007</strong></td>
								<td>Control Industrial por PLC</td>
								<td>Instituto Nacional de Aprendizaje</td>
							</tr><tr>
								<td><strong>2006</strong></td>
								<td>Técnico Operador de Equipo de Computo</td>
								<td>Instituto Nacional de Aprendizaje</td>
							</tr><tr>
								<td><strong>2008</strong></td>
								<td>Bachiller en Educación Media</td>
								<td>Liceo de Sucre</td>
							</tr></tbody>
						</table>

				      </div>
					</div>
				</div>
				<div class="col-md-1 column"></div>
		</div><!--row-->

		<!--work experience skills-->
		<div class="row clearfix">
			<div class="col-md-1 column"></div>
				<div class="col-md-10 column">
					<div class="panel panel-primary">
					  <div class="panel-heading">
					    Work Experience
					  </div>
					  <div class="panel-body">
					  <dt>Electronic technician/Technical Support in SICZN</dt>

                        <dd>Repair of electronic equipment</dd>
						<dd>Remote assistance</dd>
						<dd>Maintaining servers and computer equipment</dd>

				      </div>
					</div>
				</div>
				<div class="col-md-1 column"></div>
		</div><!--row-->

		<!--work experience-
		<div class="row clearfix">
			<div class="col-md-1 column"></div>
				<div class="col-md-10 column">
					<div class="panel panel-primary">
					  <div class="panel-heading">
					    Work experience
					  </div>
					  <div class="panel-body">
						  
					  	        <dl>
                                    <dt>Program Lenguages:</dt>
                                    <dd></dd>
                                    <dt>Databases:</dt>
                                    <dd></dd>
                                    <dt>Operating systems:</dt>
                                    <dd></dd>
                                    <dt>Frameworks:</dt>
                                    <dd></dd>
                                    <dt>Others:</dt>
                                    <dd></dd>
                                </dl>

				      </div>
					</div>
				</div>
				<div class="col-md-1 column"></div>
		</div><!row-->

		<!--lenguages-->
		<div class="row clearfix">
			<div class="col-md-1 column"></div>
				<div class="col-md-10 column">
					<div class="panel panel-primary">
					  <div class="panel-heading">
					    Lenguages
					  </div>
					  <div class="panel-body">
						  
					  	<p>English</p>       

				         <div class="progress">
				            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
				                Reading
				            </div>
				        </div>   

				        <div class="progress">
				            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
				                Writing
				            </div>
				        </div>

				        <div class="progress">
				            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
				                Listening
				            </div>
				        </div>

				        <div class="progress">
				            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
				                Speaking
				            </div>
				        </div>

				      </div>
					</div>
				</div>
				<div class="col-md-1 column"></div>
		</div><!--row-->

	</div><!--container-->