﻿@{
    Layout = "~/_Layout.cshtml";  
}

@{
    var db = Database.Open("db");
    var selectQueryString = "SELECT * FROM recommendations  ORDER BY id_recommendations DESC";

    var message = "";
 //   if (Request["product_id"] != "")
 //   {
 //       message = "El mensaje aparecerá luego de ser validado. Gracias"];
 //   } 
}


<div class="container">
    <div class="row clearfix">
        <div class="col-md-2 column"></div>

        <form action="../insertRecommend.cshtml" method="post">
            <div class="col-md-4 column">

                <div style="margin-bottom: 20px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon"></i></span>
                    <input type="text" class="form-control" name="name" placeholder="Name">                                        
                </div>

                <div style="margin-bottom: 20px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon"></i></span>
                    <input type="text" class="form-control" name="phone" placeholder="Phone">                                        
                </div>

                <div style="margin-bottom: 20px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon"></i></span>
                    <input type="text" class="form-control" name="email"placeholder="Email">                                        
                </div>

            </div>
                
            <div class="col-md-4 column">
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon"></i></span>
                    <textarea class="form-control" id="message" name="comment" placeholder="Comment" rows="6"></textarea>
                </div>
                <button type="submit" class="btn btn-lng btn-primary pull-right">Summit</button>
            </div>
        </form>

        <div class="col-md-2column"></div>
    </div><!--row-->

 @foreach(var row in db.Query(selectQueryString))
{
    <div class="row clearfix" style="margin-top:40px;">
        <div class="col-md-2 column"></div>
        <div class="col-md-8 column">
            <div class="jumbotron">
                <h3>@row.name</h3>
                <p>@row.Comment</p>
                <small>Email: @row.email</small><br>
                <small>Phone: @row.phone</small>
            </div>
        </div>
        <div class="col-md-2 column"></div>
    </div>
 }
</div><!--container-->